
/***********************
      Hero section
*************************/
.hero {
  height: auto;
  width: 100%;
}


.content {
  padding-top: 55px;
  padding-bottom: 55px;
  margin-right: 150px;
  margin-left: 150px;
  color: black;
  text-indent: 50px;
  line-height: 30px;
}




* {
	margin: 0;
	padding: 0;
}

#map {
	height: 400px;
	width: 50%;
}