*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img{
	width: 100%;
}

h1 {
     color: #6e1911;
	 margin: 30px 0 50px;
	 font-family:'Righteous', cursive;
/*	 text-shadow: 1px 1px 5px #888888;*/
}

.portfolio {
	width: 90%;
	max-width: 1400px;
	margin: auto;
}

.portfolio h1 {
	padding-top: 50px;
	text-align: center;
	font-size: 38px;
	margin: 15px 0px 40px;
}

.portfolio-container {
	display: flex;
	justify-content: space-between;
}

.portfolio-item {
	width: 100%;
	position: relative;
	overflow: hidden;
    box-shadow: 0px 0px 10px #555555;
}

.portfolio-img {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.portfolio-text {
	position: absolute;
	bottom: 0;
	padding: 20px;
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
} 

.portfolio-text a {
    text-decoration: none;
    color: white;
}

.portfolio-text a:hover, 
.portfolio-text a:focus,
.portfolio-text a:active{
   opacity: 0.9;
   color: grey;
   text-decoration: none;
}

.portfolio-text p {
	text-align: justify;
}

.portfolio-item:hover .portfolio-text{
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.portfolio-item:hover .portfolio-img {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}