/* Useful Information

font-family: 'Freckle Face', cursive;
font-family: 'Patua One', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Berkshire Swash', cursive;
font-family: 'Paytone One', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Righteous', cursive;
 */


ul {
   padding: 0;
 }

li {
   list-style: none;
 }

a {
   font-family: roboto;
   font-size: 30px;
 }



 /*******************
     Header styles / Nav Bar
 **********************/
.my-navbar {
    height: 100px;
}

.my-logo {
    width: 100%;
}

.toplogo { 
    width: 18%;
    margin-left: 50px;

}

@media (max-width: 700px) {
   .toplogo {
    width:1000px;
    text-align: center;
   }
   .navbar-toggler {
    text-align: right;
   }
}

.my-navbar-menu {
    width: 40%; 
    margin-top: 40px;
    margin-left: 15px;
    padding: 10px;
    text-align: center;
}

.my-navbar-menu a {
  margin: 5px;
}

.socialicons {
   padding-left: 20px;
}

 /*******************
        Desktop
 **********************/


.socialicons i{
   color: #c68142;
   width: 50px;
   font-size: 30px;
   margin: -10px;
   margin-top: 15px;
}

.line {
   width:1200px;
   height:1px;
   margin:0px auto;
   padding:0px;
   background-color:#c68142;
   overflow:hidden;
}


.text-container {
  padding-top: 50px;
  padding-bottom: : 50px;
  color: #6e1911;
  font-family: 'Freckle Face', cursive;
  text-align: center;
  font-size: 40px;
  text-transform:uppercase
}

.button-container {
  text-align: center;
}


.button01 {
  border: 2px;
  border-radius: 20px;
  border-style: solid;
  background-color: none;
  font-size: 15px;
  color: #c68142;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 30px;
  margin: auto;
}

.or {
  color: black;
  font-family: 'Patua One', cursive;
  font-size: 20px;
}

.button02 {
  border: 2px;
  border-radius: 20px;
  border-style: solid #c68142;
  background-color: #c68142;
  color: #c68142;
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 15px;
/*  margin-top: 10px;*/
 /* margin-left: 30px;*/
}


.button01 a:hover,
.button01 a:focus,
.button01 a:active {
   opacity: 0.9;
   color: grey;
   text-decoration: none;
 }

.button02 a:hover,
.button02 a:focus,
.button02 a:active {
   opacity: 0.9;
   color: grey;
   text-decoration: none;
 }

 
  

 /*******************
     Header styles
 **********************/
.pictext {
  color: blue;
  position:absolute;

}


.pictext-title {
  font-size: 60px;
  padding-left: 430px;
  color: black;
  padding-top: 115px;
  font-family: 'Paytone One', sans-serif;
}

.pictext-dis {
  font-size: 20px;
  padding-left: 430px;
  color: black;
  padding-top: 80px;
  font-family: 'Paytone One', sans-serif;
  text-align: center;
}

 /*******************
        Desktop
 **********************/



/***********************
      Hero section
*************************/
.hero {
  height: 500;
  background-color: #BBFFEE;
  margin-top: 30px;
}

.mypic {
  max-width: 800px;
   float: left;
   margin-right: 6px;
}

.sidepic-container {
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.sidepic {
  width: 190px;
  height: 215px;
  margin-top: 6px;
}

/****************
     Section
*****************/

section {
  height: auto;
  width: 100%;
}

.skillcolum {
  text-align: center;
  height: 200px;
  border: solid #c68142;
  border-radius: 20px;
  margin-top: 50px;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow:3px 3px 30px gray;padding:0px;
}

/*********************
   Footer Section
**********************/
